/* Rooms */

.rooms {
  color: #ffffff !important;
  border: 1px solid #ffffff;
  border-radius: 5px;
  margin-top: 10px;
}

.rooms > a:hover {
  background-color: #ffffff;
  color: #343940 !important;
}

.rooms > .active {
  color: #343940 !important;
  background-color: #ffffff;
}

.rooms > a {
  color: #ffffff;
}

.rooms-old {
  color: #ffffff !important;
  border: 1px solid #ffffff;
  border-radius: 5px;
  margin-top: 10px;
}

.rooms-old > a:hover {
  background-color: #ffffff;
  color: #343940 !important;
}

.rooms-old > .active {
  color: #343940 !important;
  background-color: #ffffff;
}

.rooms-old > a {
  color: #ffffff;
}

#create-room-button {
  position: fixed;
  bottom: 0;
  margin: 1em;
}

.historic {
  text-align: center;
  color: lightgrey;
  margin-top: 5%;
  margin-bottom: 5%;
  text-decoration: underline;
}